/********** Base styles **********/
* {
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-family: 'Pangolin', cursive; 
  box-sizing: border-box;

}


h1 {
	color : darkorchid;
	font-size: 175%;
	text-align: center;
}


h2 {
	font-size: 125%;
  font-weight: bold;
	border: 1px solid black;
	float: right;
	padding: 5px 20px 5px 20px;
	margin-top: 0; 
	margin-bottom: 20px;
}

section {
	background-color: plum;
	border: 1px solid black;
	height: 180px;
	overflow: auto;

}


p {
	clear: right;
	width: 90%;
	font-style: italic;
	padding: 5px 10px 5px 10px;
}


.peachy {
background-color: #FFDAB9;
}

.powderblue {
background-color: #B0E0E6;
}

.lemonchiffon {
background-color: #FFFACD;
}


.tallsection {
  height: 1000px;
  overflow: auto;
}

/********** Desktop devices only **********/

@media (min-width: 992px) {
  .col-lg-1 {
    float: left;
  	width: 33.33%;
  	padding: 15px;
  }
}


 /********** Tablet devices only **********/

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-12 {
    float: left;
  	width: 50%;
  	padding: 15px;
  }

  .col-md-23 {
    float: left;
  	width: 100%;
  	padding: 15px;
  } 

 } 


 /********** Mobile devices only **********/

@media (max-width: 767px) {
  .col-sm-1 {
    float: left;
  	width: 100%;
  	padding: 15px;
  }
}

